<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
                  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">                  
<mapper namespace="org.study.home.mapper.QuestionMapper">

<insert id="questionInsert">
INSERT INTO questionBoardTBL(question_title, question_content, question_tag, question_writer) 
VALUES(#{question_title}, #{question_content}, #{question_tag}, #{question_writer})
</insert>

<select id="questionList" resultType="org.study.home.model.QuestionDTO">
select * from questionBoardTBL order by question_no DESC
</select>

<select id="questionRead" resultType="org.study.home.model.QuestionDTO">
select * from questionBoardTBL where question_no = #{question_no}
</select>

	<select id="getListPaging"
		resultType="org.study.home.model.QuestionDTO">
		select *	from questionBoardTBL order by question_no DESC	limit #{skip},#{amount}
	</select>
	
	<select id="getTotal" resultType="int">
        select count(*) from questionBoardTBL
    </select>
    
    <update id="questionViewCount">
		UPDATE questionBoardTBL set question_count =	question_count+1 WHERE question_no = #{question_no};
	</update>
	
	<select id="questionByCount"	resultType="org.study.home.model.QuestionDTO">
		select * from questionBoardTBL order by question_count DESC
	</select>



</mapper>